/* @import-normalize; */
@import url(./reset.css);
@import url(../../node_modules/react-toastify/dist/ReactToastify.min.css);

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff2") format("woff2"),
    url("./fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.woff2") format("woff2"),
    url("./fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("./fonts/Inter-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.woff2") format("woff2"),
    url("./fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --dark: #191a15;
  --dark-transparent-5: rgba(25, 26, 21, 0.05);
  --dark-transparent-10: rgba(25, 26, 21, 0.1);
  --dark-transparent-20: rgba(25, 26, 21, 0.2);
  --dark-transparent-30: rgba(25, 26, 21, 0.3);
  --dark-transparent-50: rgba(25, 26, 21, 0.5);
  --dark-transparent-60: rgba(25, 26, 21, 0.5);
  --medium: #54be96;
  --medium-transparent-20: rgba(84, 190, 150, 0.2);
  --meduim-accent: #36a379;
  --medium-additional-1: #4535af;
  --medium-additional-2: #fbc75e;
  --light-additional-1: #fbfbfb;
  --light-additional-2: #f3f3f3;
  --light-additional-1-transparent-50: rgba(251, 251, 251, 0.5);

  /* fonts */
  --font-family: "Inter", sans-serif;

  /* transition params */
  --my-transition-duration: 300ms;
  --my-transition-timing-function: ease-in-out;
  --my-transition-delay: 250ms;
  --my-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

html ::-webkit-scrollbar {
  width: 40px;
}

html ::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 16px solid white;
}

body {
  background-color: var(--light-additional-1);
  margin: 0;
  font-family: var(--font-family);
  color: var(--dark);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===================CONTAINER================*/

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding-left: 128px;
  padding-right: 128px;
}

/* nav a.active {
  color: var(--meduim-accent);
} */

/* nav a.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--button-accent-D84343);
} */

/* #bookForm .react-datepicker-wrapper {
  display: block;
} */

/* #bookForm .react-datepicker__view-calendar-icon input {
  padding: 18px 40px 18px 18px;
} */
/* #bookForm .react-datepicker__input-container .react-datepicker__calendar-icon {
  width: 20px;
  height: 20px;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  fill: var(--main-101828);
} */

/* #bookForm .react-datepicker {
  font-family: inherit;
  font-size: 14px;
  line-height: 120%;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid rgba(16, 24, 40, 0.2);
} */

/* #bookForm .react-datepicker__navigation {
  height: 24px;
  width: 24px;
  top: auto;
} */

/* #bookForm .react-datepicker__navigation--next {
  right: 16px;
} */

/* #bookForm .react-datepicker__navigation--previous {
  left: 16px;
} */

/* #bookForm .react-datepicker__navigation-icon::before {
  border-color: var(--main-101828);
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  top: 6px;
  width: 12px;
} */

/* #bookForm .react-datepicker__header {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 20px;
} */

/* #bookForm .react-datepicker__current-month {
  margin-top: 0;
  color: var(--main-101828);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 20px;
} */

/* #bookForm .react-datepicker__day--outside-month {
  color: var(--text-475467);
} */

/* #bookForm .react-datepicker__triangle {
  display: none;
} */
/* #bookForm .react-datepicker__day-names {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
} */

/* #bookForm .react-datepicker__day-name {
  display: flex;
  width: 41px;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 120%;
} */

/* #bookForm .react-datepicker__month {
  margin: 0;
} */
/* #bookForm .react-datepicker__week {
  display: flex;
} */
/* #bookForm .react-datepicker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 36px;
  margin: 0;
} */

/* #bookForm .react-datepicker__day--selected {
  border-radius: 0.3rem;
  border: 1px solid var(--button-E44848);
  background-color: transparent;
  font-weight: bold;
  color: var(--button-E44848);
} */

/* #bookForm .react-datepicker__day--today {
  background-color: var(--block-features-F2F4F7);
} */
